body {
  margin: 0;
  background: #121212;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

/* Playlist */
.playlist {
  width: 250px;
  background: #000;
  padding: 20px;
  overflow-y: auto;
}

.playlist h3 {
  color: #1db954;
}

.playlist li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  color: #b3b3b3;
}

.playlist li:hover,
.playlist li.active {
  background: #1db954;
  color: black;
}

/* Player */
.player {
  flex: 1;
  background: linear-gradient(#1db954, #121212);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.player h2 {
  margin: 15px 0 5px;
}

.player p {
  color: #ddd;
}

/* Progress */
.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 60%;
}

#progress {
  flex: 1;
}

/* Controls */
.controls {
  margin: 20px 0;
}

.controls button {
  background: none;
  border: none;
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  color: white;
}

.controls button:hover {
  color: #1db954;
  transform: scale(1.2);
}

/* Volume */
.volume {
  margin-top: 10px;
}
